[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
versioneer = "*"
flake8 = "*"
black = "==19.10b0"
sphinx = "*"
pydata-sphinx-theme = "*"
twine = "*"
coverage = "*"
pytest-cov = "*"
pyform = {editable = true, path = "."}

[packages]
pandas = "*"

[requires]
python_version = "3.8"
